

<div class="star">

    <div class="container-fluid mb-5">

        <mat-tab-group>

            <mat-tab label="Ongoing assignments">

                <div>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <div class="pt-2">
                                    <span class=" title">Assignments</span>
                                    <!-- <button mat-raised-button color="primary" class="pull-right" 
                                        (click)="openDialog();">Add Assignment </button> -->
                                    <button type="button" class="btn btn-secondary btn-rounded pull-right add-asbtn"
                                        (click)="openDialog();"><span class="">Add Assignment</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="min-height: 277px;">
                        <div class="container-fluid-fluid">

                            <div class="row" *ngIf="assignments">

                                <div class="col-md-3 my-2 p-4" *ngFor="let a of assignments" (click)="ViewOrEditAssignment(a.aId)">
                                    
                                    <mat-card style="height:auto;" [ngStyle]="styleObject(a.subject)">
                                        <div class="p-0">
                                            <div class="py-1">
                                                <h3 class="title-sub ">{{ a.title }}</h3>
                                            </div>
                                            <h5 class="py-1">
                                                {{ a.standard }}-{{ a.subject }}-{{ a.topic }}
                                            </h5>
                                    
                                            <div class="py-1">
                                                <span class="">Questions :</span> {{ a.noOfQuestions }} 
                                                <span>
                                                    Marks : {{ a.marks }}
                                                </span>
                                            </div>
                                    
                                            <div class="py-2">
                                                <small>
                                                    <span class="">uploaded on </span>: {{ a.inTime | date:'dd-MM-yyyy' }}
                                                </small>
                                            </div>
                                            <div class="py-2">
                                                <small>
                                                  <!--  <span class="">Start Date : </span> {{ a.startDate | date:'dd-MM-yyyy' }}  -->
                                                  <span class="">Start Date : </span> {{ a.startDateString }}
                                                </small>
                                            </div>
                                            <div class="py-2">
                                                <small>
                                                 <!--   <span class="">End Date : </span>{{ a.endDate | date:'dd-MM-yyyy' }}  -->
                                                 <span class="">End Date : </span>{{ a.endDateString }}
                                                </small>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>

                            </div>

                            <div *ngIf="assignments.length == 0" class="row text-center my-5">
                                <div #noData>
                                    No Assignments Available
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </mat-tab>

            <mat-tab label="Completed">

                <div class="container-fluid">

                    <div *ngIf="expiredAssignments" class="row my-3">

                    <!--    <div class="col-md-3 my-2 assign-cards p-4" *ngFor="let a of expiredAssignments" (click)="ViewOrEditAssignment(a.aId)">  -->
                            
                        <div class="col-md-3 my-2 assign-cards p-4" *ngFor="let a of expiredAssignments">

                            <mat-card style="height:auto" [ngStyle]="styleObject(a.subject)">
                                
                                <div class="p-0">
                                    <div class="py-1">
                                        <h3 class="title-sub ">{{ a.title }}</h3>
                                    </div>
                                    <h5 class="py-1">
                                        {{ a.standard }}-{{ a.subject }}-{{ a.topic }}
                                    </h5>

                                    <div class="py-1">
                                        <span class="">Questions :</span> {{ a.noOfQuestions }} <span>
                                            Marks : {{ a.marks }}
                                        </span>
                                    </div>

                                    <div class="py-2"><small>
                                            <span class="">uploaded on </span>: {{ a.inTime |
                                            date:'dd-MM-yyyy' }} </small>
                                    </div>
                                    <div class="py-2"><small>
                                            <span class="">Start Date : </span> {{ a.startDate |
                                                date:'dd-MM-yyyy'}}
                                        </small></div>
                                    <div class="py-2">
                                        <small>
                                            <span class="">End Date : </span>{{ a.endDate |
                                            date:'dd-MM-yyyy' }} </small>
                                    </div>
                                </div>
                            
                            </mat-card>        
                            
                        </div>

                    </div>

                    <div *ngIf="expiredAssignments.length == 0" class="row text-center my-5">
                        <div #noData>
                            No Assignments Available
                        </div>
                    </div>

                </div>

            </mat-tab>

            <mat-tab label=" UnderDevelopment Assignments">

                <div class="container-fluid">

                      <!--<div *ngIf="uncompletedAssignments.length" class="row my-3">   -->
                        <div *ngIf="uncompletedAssignments" class="row my-3">
                        <div class="col-md-3 my-2 p-4" *ngFor="let a of uncompletedAssignments">
                            
                            <mat-card style="height:auto" [ngStyle]="styleObject(a.subject)">

                                <div class="p-0">
                                    <div class="py-1">
                                        <h3 class="title-sub ">{{ a.title }}</h3>
                                    </div>
                                    <h5 class="py-1">
                                        {{ a.standard }}-{{ a.subject }}-{{ a.topic }}
                                    </h5>

                                    <div class="py-1">
                                        <span class="">Questions :</span> {{ a.noOfQuestions }} 
                                        
                                        <span>
                                            Marks : {{ a.marks }}
                                        </span>
                                    </div>

                                    <div class="py-2">
                                        <small>
                                            <span class="">uploaded on</span>: {{ a.inTime | date:'dd-MM-yyyy' }}
                                        </small>
                                    </div>
                                    <div class="py-2">
                                        <small>
                                        <span class="">Start Date : </span> {{ a.startDate | date:'dd-MM-yyyy' }} 
                                      <!-- <span class="">Start Date : </span> {{ a.startDate}}   -->
                                        </small>
                                    </div>
                                    <div class="py-2">
                                        <small>
                                            <span class="">End Date : </span>{{ a.endDate | date:'dd-MM-yyyy' }} 
                                        </small>
                                    </div>
<!-- <center> <button class="btn btn-success" [disabled]="uncompletedAssignments.invalid" (click)="ViewOrEditAssignment(a.aId)">{{ isEditable ?  'Update' : 'Add'}}</button> </center>   -->
       <center> <button class="btn btn-success" (click)="ViewOrEditAssignment(a.aId)">{{ isEditable ?  'Update' : 'Add'}}</button> </center>

                                </div>

                            </mat-card>
                            
                        </div>

                    </div>

                    <div *ngIf="uncompletedAssignments.length == 0" class="row text-center my-5">
                        <div #noData>
                            No Assignments Available
                        </div>
                    </div>

                </div>

            </mat-tab>

        </mat-tab-group>

    </div>

</div>